body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    padding: 10px;
}

input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: calc(25% - 10px);
    padding: 10px;
    font-size: 1.2em;
    margin: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.operator {
    background-color: #dc3545;
}

button.operator:hover {
    background-color: #c82333;
}